{% trans_default_domain('avito-products.admin') %}

<main class="main d-print-none ">

    <section class="container px-4 mb-5">

        <div class="mt-3 d-flex justify-content-between">
            {{ include(_self|replace({ "content.html.twig": "_breadcrumb.html.twig" })) }}
        </div>

        <div class="d-flex justify-content-between align-items-center mb-3">

            <div class="w-100">
                <h1 class="h4 text-uppercase fw-bolder mb-0">
                    {{ 'page.index'|trans }}
                </h1>
            </div>


            {# Изменить шаблон описания #}
            {% if is_granted('ROLE_AVITO_PRODUCTS_EDIT') or is_granted('ROLE_ADMIN') %}
                <button data-href="{{ path('avito-products:admin.description.edit') }}"
                        class="btn btn-primary modal-link w-25 disabled"
                        data-bs-toggle="modal"
                        data-bs-target="#modal"
                        title="Изменить шаблон описания">
                    <span

                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-delay='{"show":600,"hide":100}'
                            title="Изменить шаблон описания всех объявлений"
                    >
                            Изменить шаблон описания
                        </span>
                </button>
            {% endif %}


        </div>

        <div class="border border-light rounded-4 p-3">

            <div class="d-flex justify-content-between">

                {# Форма поиска по разделу #}
                {% include Template('/_includes/'~baks_settings.device~'/search.html.twig') %}

                {# Фильтр по продукции #}
                <div class="w-100 d-flex align-items-center align-content-end gap-2">
                    {% include Template('@products-product/admin/filter/'~baks_settings.device~'/filter.html.twig') %}
                </div>

            </div>

            {# Инфо-блок с предложением добавить фото #}
            {% if (info) %}

                {{ include(_self|replace({ "content.html.twig": "info.html.twig" })) }}

            {% else %}

                <div class="alert alert-warning m-3 w-100" role="alert">

                    <div class="d-flex align-items-baseline gap-3">
                        <div>
                            <div class="icon rounded-circle bg-contain p-2 bg-primary text-white"
                                 style="width: 10px; height: 10px;"><span class="small">!</span></div>
                        </div>
                        <div class="small lh-1">
                            Во избежания блокировки объявлений, объявления с комплектами публикуются только с
                            подруженными
                            фото.<br>
                            <span class="text-danger fw-bold">НАСТОЯТЕЛЬНО!!!</span> рекомендуем для объявлений с
                            комплектами подгружать фото с другим ракурсом, количеством, размерами и т.п.
                        </div>
                    </div>

                </div>

                <div class="d-flex justify-content-between">

                    {# Текстовый результат фильтра #}
                    <div class="w-100">
                        {% include Template('@products-product/filter/'~baks_settings.device~'/filter_text.html.twig') %}
                    </div>

                    <div class="w-100 d-flex align-items-center align-content-end gap-2">

                        {{ form_start(avito, { attr: { class: 'd-flex w-100 gap-2 align-items-center align-content-end' } }) }}

                        {% if avito.token is defined %}
                            <div class="w-50">
                                {{ form_widget(avito.token, {
                                    placeholder: 'Выберите профиль Avito ...',
                                    attr: { 'data-select' : 'select2', style: 'width: 100px;', class: 'mb-0' }
                                }) }}
                            </div>

                        {% endif %}

                        <div class="w-50">

                            <div class="d-flex justify-content-around radio-buttons clearfix"
                                 data-buttons="true"
                                 style="clear: both">

                                <label class="btn px-2 py-1 border-dotted rounded-3 w-100 {{ avito.exists.vars.data ? 'active' }}">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">

                                            <div class="d-flex align-items-center">
                                                {{ form_widget(avito.exists, { label: false }) }}
                                                <div class="form-check ps-0 text-nowrap">
                                                    {# Продукт активный #}
                                                    {{ 'Только без фото'|trans }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>


                            {# {{ form_widget(avito.exists, { placeholder: 'Фильтр фото ...' } ) }} #}
                        </div>

                        <div class="w-50">
                            <div class="d-flex justify-content-around radio-buttons clearfix"
                                 data-buttons="true"
                                 style="clear: both">

                                <label class="btn px-2 py-1 border-dotted rounded-3 w-100 {{ avito.stocks.vars.data ? 'active' }}">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">

                                            <div class="d-flex align-items-center">
                                                {{ form_widget(avito.stocks, { label: false }) }}
                                                <div class="form-check ps-0 text-nowrap">
                                                    {# Продукт активный #}
                                                    {{ 'Только в наличии'|trans }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="w-50">
                            <div class="d-flex justify-content-around radio-buttons clearfix"
                                 data-buttons="true"
                                 style="clear: both">

                                <label class="btn px-2 py-1 border-dotted rounded-3 w-100 {{ avito.sale.vars.data ? 'active' }}">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">

                                            <div class="d-flex align-items-center">
                                                {{ form_widget(avito.sale, { label: false }) }}
                                                <div class="form-check ps-0 text-nowrap">
                                                    {# Сняты с продажи #}
                                                    {{ 'Снятые с продажи'|trans }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>

                        {{ form_end(avito) }}

                    </div>
                </div>

            {% endif %}


            <table class="table table-striped table-borderless mt-3"
                   style='--bs-table-striped-bg: rgba(249,249,249,0.7);'>
                <thead>

                <tr>
                    <th>#</th>
                    <th class="text-center">Категория</th>
                    <th class="ps-5 align-middle w-100">Продукция</th>
                    <th class="text-center text-nowrap">Фото для Авито</th>
                </tr>

                </thead>

                <tbody>

                {% for item in query.data %}
                    {{ include(_self|replace({ "content.html.twig": "card.html.twig" })) }}
                {% endfor %}

                </tbody>
            </table>

            {% include Template('_includes/'~baks_settings.device~'/pagination.html.twig') with { 'pagination' : query } %}



            {% if query.data %}

                <div class="position-absolute mt-2 pt-1 small">
                    <strong class="">Множественный выбор:</strong>
                </div>

                <div class="to-invoice-actions d-flex gap-2 sticky-bottom ps-5 pb-3 pt-2 z-1"
                     style="margin-left: 130px; max-width: 100px;">

                    <button class="btn btn-sm btn-outline-primary text-nowrap mb-2"
                            role="tooltip"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-delay='{"show":600,"hide":100}'
                            title="Выбрать все"
                            id="select-all"
                            data-name="{{ sales_multiselect_form_name }}"
                    >

                        Выбрать все
                    </button>

                    <a class="btn btn-sm btn-warning text-nowrap mb-2 d-none"
                       role="tooltip"
                       data-bs-placement="bottom"
                       data-bs-delay='{"show":600,"hide":100}'
                       title="Публикация объявлений"
                       id="btn_sale_{{ sales_multiselect_form_name }}"

                       data-bs-toggle="modal"
                       data-bs-target="#modal"

                            {# класс элемиента checkbox #}
                       data-post-class="{{ sales_multiselect_form_name }}"

                       data-method="post"

                       data-collection-form="collection"
                       data-formname="{{ sales_multiselect_form_name }}"

                       href="{{ path('avito-products:admin.multiselect.sales') }}">

                        Публикация объявлений
                    </a>

                </div>
            {% endif %}


        </div>

    </section>

</main>